@font-face {
  font-family: 'icomoon';
  src:  url('../webfonts/icomoon.eot?qrngu3');
  src:  url('../webfonts/icomoon.eot?qrngu3') format('embedded-opentype'),
    url('../webfonts/icomoon.ttf?qrngu3') format('truetype'),
    url('../webfonts/icomoon.woff?qrngu3') format('woff'),
    url('../webfonts/icomoon.svg?qrngu3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-down:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e908";
}
.icon-arrow-up:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-linkedin:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e905";
}
.icon-youtube:before {
  content: "\e906";
}
