<footer data-anijs="if: scroll, on: window, do: fadeIn animated, before: scrollReveal">
    <div class="footer-shape">
        <svg viewBox="0 0 1440 612">
            <path class="footershapepath footer-shape-animation", fill="#b7bac4" fill-opacity="0.1" d="M-69.631,8.923l-0.061-0.496l-0.206,0.025l-0.127,0.163L-69.631,8.923z M-69.528,8.91
        l0.061,0.496L-69.528,8.91z M-69.694,9.004l0.394,0.308l0,0L-69.694,9.004z M-115.734,67.97l0.394,0.308l0,0L-115.734,67.97z
         M-115.888,68.167l-0.394-0.308l-0.308,0.394l0.394,0.308L-115.888,68.167z M-115.691,68.321l0.308-0.394l0,0L-115.691,68.321z
         M-2.813,156.455l0.394,0.308l0.308-0.394l-0.394-0.308L-2.813,156.455z M-87.697,265.171l0.394,0.308l0,0L-87.697,265.171z
         M-88.069,265.647l-0.394-0.308l-0.743,0.952l1.198-0.148L-88.069,265.647z M-87.47,265.573l-0.061-0.496L-87.47,265.573z
         M-23.231,257.666l0.061,0.496L-23.231,257.666z M-23.128,257.653l0.061,0.496l0.205-0.025l0.128-0.163L-23.128,257.653z
         M-23.065,257.571l0.394,0.308l0,0L-23.065,257.571z M63.599,146.577l-0.394-0.307l0,0L63.599,146.577z M63.753,146.38l0.394,0.308
        l0.308-0.394l-0.394-0.308L63.753,146.38z M63.556,146.226l-0.308,0.394v0.001L63.556,146.226z M-49.323,58.092l-0.394-0.308
        l-0.308,0.394l0.394,0.308L-49.323,58.092z M-5.061,1.404l-0.394-0.308v0L-5.061,1.404z M-4.69,0.929l0.394,0.308l0.743-0.951
        l-1.198,0.147L-4.69,0.929z M-5.289,1.002L-5.35,0.506L-5.289,1.002z M-69.364,9.394l-0.061-0.496l-0.206,0.025l-0.127,0.163
        L-69.364,9.394z M-115.186,68.08l-0.394-0.308l-0.308,0.394l0.394,0.308L-115.186,68.08z M-5.827,1.572l0.394,0.308l0.743-0.951
        l-1.198,0.147L-5.827,1.572z M-49.871,57.981l0.394,0.308l0,0L-49.871,57.981z M-50.024,58.178l-0.394-0.308l-0.308,0.394
        l0.394,0.308L-50.024,58.178z M-49.827,58.332l0.308-0.394l0,0L-49.827,58.332z M63.051,146.467l0.394,0.307l0.308-0.394
        l-0.394-0.307L63.051,146.467z M-23.395,257.182l0.061,0.496l0.206-0.025l0.127-0.163L-23.395,257.182z M-86.932,265.003
        l-0.394-0.307l-0.743,0.951l1.198-0.148L-86.932,265.003z M-2.265,156.566l-0.394-0.308L-2.265,156.566z M-2.111,156.369
        l0.394,0.308l0.308-0.394l-0.394-0.308L-2.111,156.369z M-2.308,156.215L-2,155.821h0L-2.308,156.215z M51.077,45.478l0.308-0.394
        l-0.17-0.132l-0.213,0.032L51.077,45.478z M51.162,45.545l-0.308,0.394v0L51.162,45.545z M50.971,45.494l0.075,0.494L50.971,45.494z
         M-16.746,55.711l0.075,0.494L-16.746,55.711z M-17.32,55.798l-0.075-0.494l-1.149,0.173l0.916,0.715L-17.32,55.798z
         M-16.862,56.155l-0.308,0.394L-16.862,56.155z M96.016,144.29l0.394,0.308l0.308-0.394l-0.394-0.308L96.016,144.29z
         M-32.742,309.197l-0.394-0.308l0,0L-32.742,309.197z M-33.113,309.672l-0.394-0.307l-0.743,0.951l1.198-0.147L-33.113,309.672z
         M-32.514,309.599l0.061,0.496L-32.514,309.599z M33.577,301.463l-0.061-0.496L33.577,301.463z M33.68,301.45l0.061,0.497
        l0.206-0.026l0.127-0.163L33.68,301.45z M33.744,301.369l-0.394-0.308l0,0L33.744,301.369z M164.281,134.184l-0.394-0.308l0,0
        L164.281,134.184z M164.434,133.987l0.395,0.307l0.307-0.394l-0.394-0.307L164.434,133.987z M164.237,133.833l-0.307,0.394l0,0
        L164.237,133.833z M-16.097,56.119l-0.075-0.494l-1.149,0.173l0.916,0.715L-16.097,56.119z M96.521,144.05l0.308-0.394l0,0
        L96.521,144.05z M50.939,46.005l0.308-0.394l-0.169-0.132l-0.213,0.032L50.939,46.005z M163.733,134.073l0.394,0.308l0.307-0.394
        l-0.394-0.308L163.733,134.073z M33.414,300.979l0.061,0.497l0.205-0.026l0.127-0.163L33.414,300.979z M-31.976,309.029
        l-0.394-0.308l-0.743,0.951l1.198-0.147L-31.976,309.029z M96.564,144.401l0.394,0.307l0,0L96.564,144.401z M96.718,144.204
        l0.394,0.307l0.308-0.394l-0.394-0.308L96.718,144.204z M1154.24,68.536l-0.07-0.496l-0.2,0.025l-0.13,0.163L1154.24,68.536z
         M1154.34,68.523l-0.06-0.496L1154.34,68.523z M1154.17,68.618l-0.39-0.308l0,0L1154.17,68.618z M1071.05,175.077l-0.39-0.308l0,0
        L1071.05,175.077z M1070.9,175.274l-0.4-0.307l-0.31,0.394l0.4,0.307L1070.9,175.274z M1071.09,175.428l0.31-0.394L1071.09,175.428z
         M1275.05,334.674l0.39,0.308l0.31-0.394l-0.4-0.308L1275.05,334.674z M1121.67,531.114l-0.4-0.308l0,0L1121.67,531.114z
         M1121.3,531.59l-0.4-0.308l-0.74,0.951l1.2-0.147L1121.3,531.59z M1237.88,517.239l0.06,0.497L1237.88,517.239z M1237.98,517.227
        l0.06,0.496l0.21-0.025l0.12-0.164L1237.98,517.227z M1238.04,517.145l0.4,0.308L1238.04,517.145z M1394.66,316.554l0.4,0.308
        l0.3-0.395l-0.39-0.307L1394.66,316.554z M1394.47,316.4l0.3-0.394L1394.47,316.4z M1190.51,157.154l-0.39-0.308l-0.31,0.394
        l0.39,0.308L1190.51,157.154z M1270.55,54.649l0.39,0.308L1270.55,54.649z M1270.92,54.173l0.39,0.308l0.74-0.951l-1.19,0.147
        L1270.92,54.173z M1154.5,69.007l-0.06-0.496l-0.2,0.025l-0.13,0.163L1154.5,69.007z M1071.6,175.188l-0.4-0.308l-0.3,0.394
        l0.39,0.308L1071.6,175.188z M1269.78,54.817l0.39,0.308l0.75-0.951l-1.2,0.147L1269.78,54.817z M1189.96,157.043l-0.39-0.308v0.001
        L1189.96,157.043z M1189.81,157.24l-0.4-0.307l-0.3,0.394l0.39,0.307L1189.81,157.24z M1190.01,157.394l0.3-0.394L1190.01,157.394z
         M1393.96,316.64l0.39,0.308l0.31-0.394l-0.39-0.308L1393.96,316.64z M1237.71,516.756l0.06,0.496l0.21-0.025l0.13-0.164
        L1237.71,516.756z M1122.43,530.946l-0.39-0.308l-0.74,0.952l1.19-0.148L1122.43,530.946z M1275.59,334.785l0.4,0.308v-0.001
        L1275.59,334.785z M1275.75,334.588l0.39,0.307l0.31-0.394l-0.39-0.307L1275.75,334.588z M1275.55,334.434l0.31-0.394
        L1275.55,334.434z M1372,134.558l0.31-0.394l-0.17-0.132l-0.21,0.032L1372,134.558z M1372.09,134.624l0.31-0.394L1372.09,134.624z
         M1371.9,134.574l-0.08-0.494L1371.9,134.574z M1249.64,153.02l0.07,0.494L1249.64,153.02z M1249.06,153.107l-0.07-0.495
        l-1.15,0.173l0.92,0.716L1249.06,153.107z M1249.52,153.464l0.31-0.394l0,0L1249.52,153.464z M1453.48,312.71l0.39,0.308l0.31-0.394
        l-0.4-0.308L1453.48,312.71z M1220.52,611.075l-0.4-0.307l-0.74,0.951l1.2-0.147L1220.52,611.075z M1221.12,611.002l-0.07-0.497
        L1221.12,611.002z M1340.44,596.313l0.06,0.496L1340.44,596.313z M1340.54,596.3l0.06,0.497l0.21-0.026l0.13-0.163L1340.54,596.3z
         M1340.61,596.219l0.39,0.308L1340.61,596.219z M1576.28,294.375l-0.39-0.308l0,0L1576.28,294.375z M1576.44,294.178l0.39,0.308
        l0.31-0.394l-0.39-0.308L1576.44,294.178z M1576.24,294.024l-0.31,0.394l0,0L1576.24,294.024z M1250.29,153.428l-0.08-0.495
        l-1.15,0.174l0.92,0.715L1250.29,153.428z M1453.98,312.47l0.31-0.394L1453.98,312.47z M1371.87,135.085l0.3-0.395l-0.17-0.132
        l-0.21,0.032L1371.87,135.085z M1575.74,294.264l0.39,0.308l0.31-0.394l-0.4-0.308L1575.74,294.264z M1340.28,595.83l0.06,0.496
        l0.2-0.026l0.13-0.163L1340.28,595.83z M1221.65,610.432l-0.39-0.308l-0.74,0.951l1.19-0.147L1221.65,610.432z M1454.03,312.821
        l0.39,0.308l0,0L1454.03,312.821z M1454.18,312.624l0.39,0.307l0.31-0.394l-0.39-0.307L1454.18,312.624z M1045.66,207.993
        l-0.39-0.308l-0.31,0.394l0.39,0.308L1045.66,207.993z M1047.97,209.795l0.39,0.307l0.31-0.394l-0.39-0.307L1047.97,209.795z
         M1045.97,207.599l0.31-0.394l-0.4-0.308l-0.31,0.394L1045.97,207.599z M1048.47,209.554l0.31-0.394L1048.47,209.554z
         M1211.29,336.683l-0.3,0.394L1211.29,336.683z M1211.49,336.837l0.39,0.308l0.31-0.394l-0.39-0.308L1211.49,336.837z
         M1211.34,337.034l0.39,0.308l0,0L1211.34,337.034z M1131.15,439.736l-0.4-0.308v0.001L1131.15,439.736z M1131.08,439.818
        l0.06,0.496l0.21-0.025l0.13-0.164L1131.08,439.818z M1014.4,454.181l-0.39-0.308l-0.75,0.951l1.2-0.147L1014.4,454.181z
         M1014.77,453.705l-0.39-0.308L1014.77,453.705z M1090.9,356.21l0.39,0.308l0.31-0.394l-0.4-0.308L1090.9,356.21z M993.402,280.086
        l-0.308,0.395l0,0L993.402,280.086z M993.205,279.933l-0.394-0.308l-0.308,0.394l0.394,0.308L993.205,279.933z M993.359,279.736
        l0.394,0.307L993.359,279.736z M993.906,279.846l-0.394-0.307l-0.307,0.394l0.394,0.307L993.906,279.846z M1048.36,210.102
        l0.31-0.394l-0.39-0.307l-0.31,0.394L1048.36,210.102z M1091.4,355.97l-0.31,0.394l0,0L1091.4,355.97z M1091.6,356.124l0.39,0.307
        l0.31-0.394l-0.39-0.308L1091.6,356.124z M1091.44,356.321l-0.39-0.308l0,0L1091.44,356.321z M1015.54,453.537l-0.4-0.308
        l-0.74,0.952l1.2-0.148L1015.54,453.537z M1130.82,439.347l0.06,0.496l0.2-0.025l0.13-0.163L1130.82,439.347z M1210.79,336.924
        l0.39,0.307l0.31-0.394l-0.39-0.308L1210.79,336.924z M912.55,375.9l-0.403-0.296l-0.688,0.934l1.152-0.141L912.55,375.9z
         M1031.88,361.212l0.06,0.496l1.19-0.147l-0.95-0.743L1031.88,361.212z M962.99,307.427l0.307-0.394l-0.405-0.317l-0.305,0.414
        L962.99,307.427z M-69.57,9.419l0.103-0.013l-0.122-0.993l-0.103,0.013L-69.57,9.419z M-69.3,9.312l0.064-0.082l-0.788-0.615
        l-0.064,0.082L-69.3,9.312z M-115.34,68.278L-69.3,9.312l-0.788-0.615l-46.04,58.966L-115.34,68.278z M-115.494,68.475l0.154-0.197
        l-0.788-0.615l-0.154,0.197L-115.494,68.475z M-115.383,67.927l-0.197-0.154l-0.616,0.788l0.197,0.154L-115.383,67.927z
         M-2.505,156.061l-112.878-88.134l-0.616,0.788L-3.12,156.849L-2.505,156.061z M-87.303,265.479l84.885-108.716l-0.788-0.615
        l-84.885,108.716L-87.303,265.479z M-87.675,265.955l0.371-0.476l-0.788-0.615l-0.371,0.475L-87.675,265.955z M-87.531,265.077
        l-0.599,0.074l0.122,0.992l0.599-0.074L-87.531,265.077z M-23.292,257.169l-64.239,7.908l0.122,0.992l64.239-7.907L-23.292,257.169z
         M-23.189,257.157l-0.103,0.012l0.122,0.993l0.103-0.013L-23.189,257.157z M-23.459,257.264l-0.064,0.081l0.788,0.616l0.064-0.082
        L-23.459,257.264z M63.205,146.27l-86.663,110.994l0.788,0.615l86.663-110.994L63.205,146.27z M63.359,146.073l-0.154,0.197
        l0.788,0.615l0.154-0.197L63.359,146.073z M63.248,146.621l0.197,0.153l0.615-0.788l-0.197-0.154L63.248,146.621z M-49.63,58.486
        L63.248,146.62l0.615-0.788L-49.015,57.698L-49.63,58.486z M-5.456,1.097l-44.261,56.687l0.788,0.615L-4.667,1.712L-5.456,1.097z
         M-5.084,0.621l-0.371,0.476l0.788,0.615l0.371-0.476L-5.084,0.621z M-5.228,1.499l0.599-0.074l-0.122-0.993L-5.35,0.506
        L-5.228,1.499z M-69.467,9.406l64.239-7.907L-5.35,0.506l-64.239,7.907L-69.467,9.406z M-69.758,9.086l-45.822,58.687l0.788,0.616
        L-68.97,9.701L-69.758,9.086z M-5.888,1.076l-63.537,7.821l0.122,0.993l63.537-7.821L-5.888,1.076z M-49.477,58.289L-5.433,1.88
        l-0.788-0.615l-44.044,56.409L-49.477,58.289z M-49.63,58.486l0.154-0.197l-0.788-0.616l-0.154,0.197L-49.63,58.486z M-49.52,57.938
        l-0.197-0.154l-0.615,0.788l0.197,0.154L-49.52,57.938z M63.359,146.073L-49.52,57.938l-0.615,0.788l112.878,88.135L63.359,146.073z
         M-23.001,257.49l86.446-110.716l-0.788-0.615l-86.446,110.715L-23.001,257.49z M-86.871,265.499l63.537-7.821l-0.122-0.992
        l-63.537,7.821L-86.871,265.499z M-2.659,156.258l-84.667,108.438l0.788,0.615l84.667-108.437L-2.659,156.258z M-2.505,156.061
        l-0.154,0.197l0.788,0.616l0.154-0.197L-2.505,156.061z M-2.616,156.609l0.197,0.154l0.615-0.788L-2,155.821L-2.616,156.609z
         M-115.494,68.475l112.878,88.134L-2,155.821l-112.879-88.135L-115.494,68.475z M50.77,45.872l0.085,0.066l0.615-0.788l-0.085-0.066
        L50.77,45.872z M51.046,45.989l0.106-0.016l-0.149-0.989L50.896,45L51.046,45.989z M-16.671,56.206l67.717-10.217L50.896,45
        L-16.82,55.217L-16.671,56.206z M-17.246,56.292l0.574-0.087l-0.149-0.989l-0.575,0.087L-17.246,56.292z M-16.555,55.761
        l-0.458-0.358l-0.615,0.788l0.458,0.358L-16.555,55.761z M96.324,143.896L-16.555,55.761l-0.615,0.788l112.878,88.135
        L96.324,143.896z M-32.348,309.504L96.41,144.598l-0.788-0.616L-33.136,308.889L-32.348,309.504z M-32.719,309.98l0.371-0.476
        l-0.788-0.615l-0.371,0.476L-32.719,309.98z M-32.576,309.102l-0.599,0.074l0.122,0.993l0.599-0.074L-32.576,309.102z
         M33.516,300.967l-66.092,8.135l0.122,0.993l66.092-8.136L33.516,300.967z M33.619,300.954l-0.103,0.013l0.122,0.992l0.103-0.012
        L33.619,300.954z M33.35,301.061l-0.064,0.082l0.788,0.615l0.064-0.082L33.35,301.061z M163.887,133.876L33.35,301.061l0.788,0.615
        l130.537-167.184L163.887,133.876z M164.04,133.679l-0.153,0.197l0.788,0.616l0.154-0.198L164.04,133.679z M163.93,134.227
        l0.197,0.154l0.615-0.788l-0.197-0.154L163.93,134.227z M50.854,45.939l113.076,88.288l0.615-0.788L51.47,45.151L50.854,45.939z
         M-16.404,56.513l112.617,87.931l0.615-0.788L-15.789,55.725L-16.404,56.513z M50.865,45.511l-67.036,10.114l0.149,0.989
        l67.036-10.114L50.865,45.511z M164.04,133.679L51.247,45.611l-0.615,0.788l112.794,88.068L164.04,133.679z M33.808,301.287
        l130.319-166.906l-0.788-0.616L33.019,300.672L33.808,301.287z M-31.915,309.525l65.39-8.049l-0.122-0.993l-65.39,8.049
        L-31.915,309.525z M96.17,144.093L-32.37,308.721l0.788,0.615l128.54-164.628L96.17,144.093z M96.324,143.896l-0.154,0.197
        l0.788,0.615l0.154-0.197L96.324,143.896z M96.213,144.444l0.197,0.154l0.615-0.789l-0.197-0.153L96.213,144.444z M1154.3,69.032
        l0.1-0.013l-0.12-0.993l-0.11,0.013L1154.3,69.032z M1154.57,68.925l0.06-0.082l-0.79-0.616l-0.06,0.082L1154.57,68.925z
         M1071.44,175.385l83.13-106.46l-0.79-0.615l-83.12,106.459L1071.44,175.385z M1071.29,175.582l0.15-0.197l-0.78-0.616l-0.16,0.198
        L1071.29,175.582z M1071.4,175.034l-0.2-0.154l-0.61,0.788l0.19,0.154L1071.4,175.034z M1275.35,334.28L1071.4,175.034l-0.62,0.788
        l203.96,159.246L1275.35,334.28z M1122.06,531.422l153.38-196.44l-0.79-0.616l-153.38,196.44L1122.06,531.422z M1121.69,531.897
        l0.37-0.475l-0.79-0.616l-0.37,0.476L1121.69,531.897z M1121.83,531.02l-0.59,0.073l0.12,0.993l0.6-0.074L1121.83,531.02z
         M1237.81,516.743l-115.98,14.277l0.13,0.992l115.98-14.276L1237.81,516.743z M1237.92,516.73l-0.11,0.013l0.13,0.993l0.1-0.013
        L1237.92,516.73z M1237.65,516.837l-0.07,0.082l0.79,0.615l0.07-0.081L1237.65,516.837z M1394.11,316.443l-156.46,200.394
        l0.79,0.616l156.46-200.394L1394.11,316.443z M1394.27,316.246l-0.16,0.197l0.79,0.616l0.16-0.197L1394.27,316.246z
         M1394.16,316.794l0.19,0.154l0.62-0.788l-0.2-0.154L1394.16,316.794z M1190.2,157.548l203.96,159.246l0.61-0.788L1190.82,156.76
        L1190.2,157.548z M1270.15,54.341l-80.03,102.505l0.78,0.616l80.04-102.505L1270.15,54.341z M1270.52,53.865l-0.37,0.476l0.79,0.615
        l0.37-0.476L1270.52,53.865z M1270.38,54.743l0.6-0.074l-0.12-0.993l-0.6,0.074L1270.38,54.743z M1154.4,69.02l115.98-14.277
        l-0.12-0.993l-115.98,14.277L1154.4,69.02z M1154.11,68.699L1071.2,174.88l0.79,0.616l82.91-106.181L1154.11,68.699z
         M1269.72,54.321l-115.28,14.19l0.12,0.993l115.28-14.19L1269.72,54.321z M1190.36,157.351l79.81-102.226l-0.78-0.615
        l-79.82,102.226L1190.36,157.351z M1190.2,157.548l0.16-0.197l-0.79-0.615l-0.16,0.197L1190.2,157.548z M1190.31,157l-0.19-0.154
        l-0.62,0.788l0.2,0.154L1190.31,157z M1394.27,316.246L1190.31,157l-0.61,0.788l203.95,159.246L1394.27,316.246z M1238.11,517.063
        l156.24-200.115l-0.78-0.615l-156.25,200.115L1238.11,517.063z M1122.49,531.442l115.28-14.19l-0.12-0.992l-115.28,14.19
        L1122.49,531.442z M1275.2,334.477l-153.16,196.161l0.79,0.616l153.16-196.161L1275.2,334.477z M1275.35,334.28l-0.15,0.197
        l0.79,0.615l0.15-0.197L1275.35,334.28z M1275.24,334.828l0.2,0.154l0.62-0.788l-0.2-0.154L1275.24,334.828z M1071.29,175.582
        l203.95,159.246l0.62-0.788L1071.9,174.794L1071.29,175.582z M1371.7,134.952l0.08,0.066l0.62-0.788l-0.09-0.066L1371.7,134.952z
         M1371.97,135.068l0.11-0.016l-0.15-0.988l-0.11,0.016L1371.97,135.068z M1249.71,153.514l122.26-18.446l-0.15-0.988l-122.26,18.445
        L1249.71,153.514z M1249.14,153.601l0.57-0.087l-0.15-0.989l-0.57,0.087L1249.14,153.601z M1249.83,153.07l-0.46-0.358l-0.61,0.789
        l0.46,0.357L1249.83,153.07z M1453.78,312.316L1249.83,153.07l-0.61,0.788l203.95,159.246L1453.78,312.316z M1221.28,610.907
        l232.59-297.889l-0.79-0.615l-232.59,297.889L1221.28,610.907z M1220.91,611.383l0.37-0.476l-0.79-0.615l-0.37,0.476
        L1220.91,611.383z M1221.05,610.505l-0.6,0.074l0.13,0.993l0.6-0.074L1221.05,610.505z M1340.38,595.817l-119.33,14.688l0.13,0.993
        l119.32-14.689L1340.38,595.817z M1340.48,595.804l-0.1,0.013l0.12,0.992l0.1-0.012L1340.48,595.804z M1340.21,595.911l-0.06,0.082
        l0.79,0.615l0.06-0.081L1340.21,595.911z M1575.89,294.067l-235.68,301.844l0.79,0.616l235.68-301.844L1575.89,294.067z
         M1576.04,293.87l-0.15,0.197l0.79,0.616l0.15-0.197L1576.04,293.87z M1575.93,294.418l0.2,0.154l0.62-0.788l-0.2-0.154
        L1575.93,294.418z M1371.78,135.018l204.15,159.4l0.62-0.788l-204.15-159.4L1371.78,135.018z M1249.98,153.822l203.69,159.042
        l0.62-0.788L1250.6,153.033L1249.98,153.822z M1371.79,134.59l-121.58,18.343l0.15,0.989l121.58-18.343L1371.79,134.59z
         M1576.04,293.87l-203.87-159.18l-0.61,0.789l203.87,159.18L1576.04,293.87z M1340.67,596.137l235.46-301.565l-0.79-0.615
        l-235.46,301.565L1340.67,596.137z M1221.71,610.928l118.63-14.602l-0.12-0.993l-118.63,14.602L1221.71,610.928z M1453.63,312.513
        l-232.37,297.611l0.79,0.615l232.37-297.61L1453.63,312.513z M1453.78,312.316l-0.15,0.197l0.79,0.616l0.15-0.198L1453.78,312.316z
         M1453.67,312.864l0.2,0.154l0.62-0.788l-0.2-0.154L1453.67,312.864z M1045.35,208.387l2.31,1.802l0.62-0.788l-2.31-1.802
        L1045.35,208.387z M1045.57,207.291l-0.3,0.394l0.78,0.615l0.31-0.394L1045.57,207.291z M1048.78,209.16l-2.5-1.955l-0.62,0.788
        l2.5,1.956L1048.78,209.16z M1211.6,336.289L1048.78,209.16l-0.62,0.789l162.83,127.128L1211.6,336.289z M1211.8,336.443l-0.2-0.154
        l-0.61,0.788l0.19,0.154L1211.8,336.443z M1211.73,337.342l0.15-0.197l-0.78-0.616l-0.16,0.198L1211.73,337.342z M1131.54,440.044
        l80.19-102.702l-0.79-0.616l-80.19,102.702L1131.54,440.044z M1131.48,440.125l0.06-0.081l-0.79-0.615l-0.06,0.081L1131.48,440.125z
         M1131.04,440.327l0.1-0.013l-0.12-0.992l-0.1,0.012L1131.04,440.327z M1015.06,454.603l115.98-14.276l-0.12-0.993l-115.98,14.277
        L1015.06,454.603z M1014.46,454.677l0.6-0.074l-0.12-0.992l-0.6,0.073L1014.46,454.677z M1014.38,453.397l-0.37,0.476l0.79,0.615
        l0.37-0.475L1014.38,453.397z M1090.5,355.902l-76.12,97.495l0.79,0.616l76.12-97.495L1090.5,355.902z M993.094,280.481
        l97.496,76.123l0.61-0.788l-97.491-76.124L993.094,280.481z M992.897,280.327l0.197,0.154l0.615-0.789l-0.197-0.153L992.897,280.327
        z M992.964,279.428l-0.153,0.197l0.788,0.615l0.154-0.197L992.964,279.428z M1047.57,209.487l-54.606,69.941l0.789,0.615
        l54.607-69.941L1047.57,209.487z M994.3,280.154l54.46-69.744l-0.79-0.615l-54.458,69.744L994.3,280.154z M1091.71,355.576
        l-97.496-76.124l-0.615,0.788l97.491,76.124L1091.71,355.576z M1091.91,355.729l-0.2-0.153l-0.62,0.788l0.2,0.154L1091.91,355.729z
         M1091.84,356.628l0.15-0.197l-0.79-0.615l-0.15,0.197L1091.84,356.628z M1015.93,453.845l75.91-97.217l-0.79-0.615l-75.91,97.216
        L1015.93,453.845z M1130.76,438.851l-115.28,14.19l0.12,0.992l115.28-14.19L1130.76,438.851z M1210.39,336.616l-79.97,102.423
        l0.79,0.616l79.97-102.424L1210.39,336.616z M1048.05,210.496l162.43,126.822l0.62-0.789l-162.43-126.821L1048.05,210.496z
         M912.611,376.397l119.329-14.689l-0.13-0.992l-119.321,14.688L912.611,376.397z M962.587,307.13l-50.44,68.474l0.806,0.593
        l50.439-68.474L962.587,307.13z M1032.18,360.818l-68.883-53.785l-0.615,0.788l68.888,53.785L1032.18,360.818z"/>
        </svg>
    </div>
    <div class="container">
        {% if page.footer_first %}
            {% block footer_first %}
                {{ page.footer_first }}
            {% endblock %}
        {% endif %}

        {% if page.footer_second %}
          {% block footer_second %}
              {{ page.footer_second }}
          {% endblock %}
        {% endif %}
    </div>
</footer>
<a href="#" class="shadow btn-primary rounded-circle back-to-top">
    <i class="fas fa-chevron-up"></i>
</a>
