@use '../custom' as *;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$font-ibm: 'IBM Plex Mono', monospace;
$font-roboto: 'Roboto', sans-serif;
$font-pjs: 'Plus Jakarta Sans', sans-serif;



// HEADING LINE 
.heading-line::before {
    content: "";
    width: 10rem;
    height: 0.1rem;
    display: block;
    margin: 0 auto;
    background-color: $primary;
}
.heading-line::after {
    content: "";
    width: 2rem;
    padding-top: 0.5rem;
    height: 0.2rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: $primary;
}

// DISPLAY 3 
.display-3 {
    font-family: $font-pjs;

    &--title {
        font-size: 1.2rem;
        text-transform: capitalize;
        font-weight: 600;
        font-family: $font-pjs;
        display: inline-block;
        background-image: linear-gradient(to right, $primary, $secondary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include media-breakpoint-up(lg) {
            font-size: 1.8rem;
        }


    }
}

// BORDER RIGHT 
.border-right {
    border-right: 0;

    @include media-breakpoint-up(sm) {
        border-right: 0.1rem solid $gray-300;
        height: 100%;
    }
}


// GRADIENT BG 
.gradient  {
    background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
}